<div class="py-2 text-sm text-gray-700 dark:text-gray-200" >
      <option value="all">
            <p class="inline-flex w-full px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">All</p>
      </option>
      {% for tag in tags %}
            <option value="{{tag.name}}" {% if currentCategory == tag.name %} selected {% endif %}>
                  <p class="inline-flex w-full px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">{{ tag.name }}</p>
            </option>
      {% endfor %}
</div>